@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

button.slick-next {
  right: 80px;
  z-index: 10;
}


button.slick-prev {
  left: 20px;
  z-index: 10;
}
button.slick-next::before {
  background-color: rgb(238, 175, 175);
  color: gray;
  content: "\2771";
  width: 80px;
  height: 80px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.slick-prev::before {
  background-color: rgba(238, 175, 175, 0.096);
  color: rgba(128, 128, 128, 0.647);
  content: "\2770";
  width: 80px;
  height: 80px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#tt {
  font-size: 40px;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.slide-fwd-tr {
  -webkit-animation: slide-fwd-tr 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-fwd-tr 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
    transform: translateZ(160px) translateY(-100px) translateX(100px);
  }
}
@keyframes slide-fwd-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
    transform: translateZ(160px) translateY(-100px) translateX(100px);
  }
}
.slide-bottom {
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
    content: "\f070";
  }
.show-btn {
  position: absolute;
 
  transform: translateY(200%);
  margin-left: 500px;
  font-size: 25px;
  color: #111;
  cursor: pointer;
  display: block;
}